h1, h2, h3, h4, nav {
  text-align: center;
}



a {
    text-color: black;
    text-decoration: none;
    color: #23A1C0;
    cursor: pointer;
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}


div {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

.main_menu {
    color: white;
    font-size: 20px;
}

#topRedStrip {
  background-color: #cf1519;
  top: 0;
  height: 56px;
  width: 100%;
}

.loadingBar {
    height: 7px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #ddd;
    bottom: -1px;
    z-index: 2;
    animation: fadeIn .3s ease;
    -webkit-animation: fadeIn .3s ease;
}

#mainCon {
    max-width: 100%;
}

#mainCon {
    max-width: 1360px;
    min-width: 1260px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: -56px;
}

#header, #headerMenu, #Pagination {
    margin: auto;
}

#mapTopFiltersInnerCon, #listInnerCon,
#listViewMoreInfo, #listHeaderCon, #header,
#headerMenu, #Pagination {
    max-width: 1360px;
    min-width: 1260px;
}

#header {
    background-color: #c7191d;
    padding: 5px;
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 5;
}

#cmsPreviewCont {
    display: inline-block;
}

#cmsPreviewInnerCont {
    display: inline-flex;
}

#headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.toggleSwitchCon {
    background-color: #7C141A;
    border-radius: 17px;
    padding: 2px;
    display: inline-block;
}

.toggleSwitchInnerCon {
    position: relative;
    display: flex;
}

.btn, .card, .grayButton, .grayRoundBtn, .grayRoundedBtn, .btnWithIcon, .greenRoundedBtn, .greenCircleBtn, .greenButton, .blueRoundedBtn, .toggleSwitchCon, .whiteRoundedBtn, .scrollingHotSpotLeftVisible, .scrollingHotSpotRightVisible {
    transition: box-shadow 0.2s linear, background 0.2s linear;
}

.toggleOption.selected {
    color: black;
}

.toggleOption {
    color: white;
    padding: 7px 3px;
    font-size: 0.8rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    transition: color 0.2s ease-in;
    margin: 0 5px 0 5px;
    z-index: 1;
}

.toggleOption img {
    width: 25px;
    height: 25px;
}

.navbar {
    color: black;
}

input, textarea, select, button {
    font-family: 'Source Sans Pro', sans-serif;
}

#headerMenu {
    display: flex;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
    background-color: white;
    height: 28px;
}

.headerMenuItem a, .headerMenuItemText a {
    text-decoration: none;
    color: black;
}

a {
    color: #23A1C0;
    cursor: pointer;
}

.headerMenuItem {
    flex: 1;
    text-align: center;
    padding: 5px 5px;
    border-right: 2px solid #E6E6E6;
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

#pageHeaderCon {
    display: flex;
    width: 100%;
    align-items: center;
}

#pageHeaderCon_left, #pageHeaderCon_center, #pageHeaderCon_right {
    flex: 1;
    vertical-align: top;
}

#pageHeaderCon_right {
    text-align: right;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.7rem;
}

.pageTitle {
    text-align: center;
    font-size: 1.7rem;
    font-weight: normal;
}

.whiteContentBox {
    margin-bottom: 20px;
}

.whiteContentBox, .whiteScreenContentBox {
    border: 1px solid #cdcdcd;
    padding: 15px;
    background-color: #fff;
    position: relative;
    word-wrap: break-word;
}

#footer {
    color: white;
}

footer {
    display: block;
}

#footerLinkCon {
    background-color: #4F485A;
    display: flex;
    padding: 25px 75px 30px 75px;
    box-sizing: border-box;
    justify-content: space-around;
}

.footerColItem {
    padding: 5px 0;
    text-decoration: none !important;
    display: block !important;
    color: white !important;
    font-size: 1rem;
}

.footerColItem img {
    width: 13px;
    height: 13px;
}

#footer {
    color: white;
}

#footerSocialAppCon {
    background: #3B3842;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 75px;
}

#footerSocialAppCon .footerLabel {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

#footerSocialAppCon .footerContent {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

#footerSocialAppCon a {
    color: white;
    text-decoration: none;
}

#footerSocialAppCon img {
    margin-right: 15px;
}

#BodyContenCon {
    margin: 0 20px 30px 20px;
    position: relative;
}

#homeContentCon {
  margin-bottom: -30px;
}

#listingBodyCon {
  display: table;
  width: 100%;
}

#listingBodyLeftCon {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}
.propertyDetailsSectionCon {
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

#listingDetailsTopInnerCon {
  min-height: 56px;
}

.table {
  display: table;
  width: 100%;
}

.leftTableCell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

#listingPriceValue {
  font-size: 2.5rem;
}

#listingNextOpenHouseCon {
  vertical-align: top;
}

.table {
  display: table;
  width: 100%;
}

.listingTopDetailsLeft {
  display: table-cell;
}

#listingAddress {
  font-size: 1.3rem;
  margin-top: 5px;
}

.unsetH1 {
  font-weight: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

#listingMLSNum {
  margin-top: 5px;
}

.listingTopDetailsRight {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  white-space: nowrap;
}

.listingTopDetailsRight {
  text-align: right;
  white-space: nowrap;
}

.propertyDetailsSectionCon {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

.listingIconCon {
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  color: #666666;
}

.listingIcon, .listingIconNum {
  display: inline-block;
}

.listingIconNum {
  font-size: 1.3rem;
}

.listingIconNum, .listingIcon {
  vertical-align: middle;
}

.listingIcon img {
  height: 35px;
  width: 35px;
}

.listingIconText {
  font-size: 0.8rem;
  margin-top: 1px;
}

.listingTabContent .propertyDetailsSectionCon {
  border: 0;
}

.propertyDetailsSectionCon {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  position: relative;
}

.listingTabContent .propertyDetailsSectionHeader {
    margin: 0 0 5px 0;
}

.propertyDetailsSectionHeader {
    font-size: 1.5rem;
    font-weight: normal;
}

#PropertyData {
    margin-bottom: 0px;
}

.propertyDetailsSectionContent {
    margin-left: 1px;
}

.propertyDetailsValueSubSection, .propertyDetailsSectionContent {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.propertyDetailsSectionContentSubCon {
    padding-right: 2%;
    padding-bottom: 15px;
    flex-grow: 0;
    flex-basis: 23%;
}

.propertyDetailsSectionContentValue {
    word-break: break-word;
}

.fullWidth {
    margin: 0 -20px;
}

div {
    display: block;
}

#mapTopFiltersInnerCon, #listInnerCon, #listViewMoreInfo, #listHeaderCon, #header, #headerMenu, #Pagination {
    max-width: 1360px;
    min-width: 1260px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


#listInnerCon {
    margin: auto;
}

.largeListingCardCon {
    display: flex;
    flex-wrap: wrap;
}

#listInnerCon #SEOCardList {
    width: 100%;
}

style {
    display: none;
}

ul.listingCardList {
    list-style: none;
}

.listingCardList {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.largeListingCardCon .cardCon {
    flex-basis: 33.33%;
    margin: 15px 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

li {
    text-align: -webkit-match-parent;
}

.listingCard {
    text-align: left;
}

.listingCard {
    border: 1px solid #CCCCCC;
    width: 400px;
    max-width: 400px;
    background-color: white;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.btn, .card, .grayButton, .grayRoundBtn, .grayRoundedBtn, .btnWithIcon, .greenRoundedBtn, .greenCircleBtn, .greenButton, .blueRoundedBtn, .toggleSwitchCon, .whiteRoundedBtn, .scrollingHotSpotLeftVisible, .scrollingHotSpotRightVisible {
    transition: box-shadow 0.2s linear, background 0.2s linear;
}

.listingCard .listingDetailsLink {
    flex: 1 0 auto;
}

.card a {
    color: inherit;
}

.blockLink {
    text-decoration: none;
}

.listingCardImageCon {
    width: 400px;
    height: 293px;
    margin: auto;
}

.listingCardImage {
    object-fit: contain;
    margin: auto;
    display: block;
    vertical-align: middle;
    width: 376px;
    height: 293px;
}

.listingCardBody {
    padding: 15px;
}

.listingCardPrice {
    font-size: 1.6rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    display: block;
    white-space: nowrap;
}

.listingCardAddress {
    font-size: 1rem;
    padding-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2em;
    max-height: 3.6em;
}

.listingCardOfficeName {
    font-size: 0.7rem;
    color: #666666;
    text-align: center;
    margin: 0 5px;
}