{% extends 'base.html' %}

{% block title %}here is some information about us{% endblock %}

{% block content %}

<h2>Why choose SibirMAX</h2>

<p>Our story started like many good things in life, a spur-of-the-moment kind of idea followed by the proper planning,
    hard work and commitment that can turn a good thing into something great. <br>
    <br>We have come a long way since inception, and at this point, we can humbly say that we have proven to be up to
    the property management challenge and continue to strive to deliver quality services that are priced right. We
    strongly
    believe in an engagement that benefits all involved parties and is sustainable for the long run. We strive to
    market and rent properties as quickly as possible but do not sacrifice tenant screening and due diligence so that
    only the most suitable candidates are considered. <br>
    <br>Buying, selling or renting a home is likely the largest and most important transaction you’ll ever make.
    That’s why so many trust SibirMAX: the most widely recognized real estate brand in the world.
    For more than 5 years, SibirMAX has been the leading real estate organization in Antalya/Turkey.
    By providing the best training, administrative and marketing support, brokers and agents are free to focus on what
    they do best: sell, rent, buy real estate. <br>
    <br> Several ancillary services that are aligned with our expertise have been added to our comprehensive service
    offerings to complement our business model. <br>
    <br> We are well staffed to accept more clients and build solid long-term relationships and encourage you to
    contact us for a free quote and allow us the opportunity to partner together. <br>
</p>

{% endblock %}