{% extends 'base.html' %}
{% load static i18n %}

{% block title %} {% translate 'Citizenship' %} {% endblock %}

{% block head_of_content %}
<h1></h1>
{% endblock %}

{% block content %}

<h3>
    Acquisition of Citizenship at Birth
</h3>
<p>
    Acquisition of Turkish citizenship is regulated in two ways: at birth or by later acquisition.
</p>
<p>
    Turkey has not adopted the right to acquire citizenship based on birthplace. Therefore, being born in Turkey will
    not provide any right in terms of citizenship. Citizenship at birth is based on kinship. A person may be a Turkish
    citizen at birth only if one of his/her parents is a Turkish citizen.
</p>
<p>
    Child of a Turkish mother or father is automatically a Turkish citizen. However, adults whose mother and/or father
    is a Turkish citizen but who were not registered to a civil registry office until they turn 18 may be registered
    as a Turkish citizen if it is decided by the Ministry upon an examination that they have acquired Turkish
    citizenship.
</p>

<h3>
    Later Acquisition
</h3>
<p>
    If you fulfill the requirements specified in Turkish Citizenship Law, you can acquire Turkish Citizenship upon the
    decision of the relevant authority. However, the fact that you fulfill the requirements stated does not provide an
    absolute entitlement to citizenship.
</p>
<p>
    <ul>
        <li>
            You can apply for Turkish citizenship if you reside in Turkey with a stateless person identity document or
            as a resident for 5 years without interruption. However, additional conditions such as a good command of
            Turkish, good morals and not being diagnosed with a disease that may constitute hazard to general health
            are also sought.
        </li>
        <li>
            If you are married to a Turkish citizen for at least 3 years and your marriage is sustaining, you can apply
            for Turkish citizenship. If your spouse dies after your application, the requirement of unity of family is
            not sought anymore.
        </li>
        <li>
            Turkish Citizenship Law also contains provisions about acquisition of exceptional citizenship. Provided
            that you do not pose any threat to national security and public order, you may acquire Turkish citizenship
            upon the proposal of the Ministry of the Interior and the decision of the Cabinet.
        </li>
    </ul>
</p>


{% endblock %}