{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block head_of_content %}
<h1>Frequently Asked Questions</h1>
{% endblock %}

{% block content %}

<h3>Why do visitors love The SibirMax Real Estate Studio?</h3>
<p>
    SibirMax provides real estate buyers, sellers and investors with access trustworthy, up-to-date listings by
    certified professionals from Antalya.
</p>
<p>SibirMax visitors can:
    <ul>
        <li>search properties using their personal criteria;</li>
        <li>learn how SibirMax can help them through the real estate process;</li>
        <li>share their favourite listings with friends and family;</li>
        <li>get notified as soon as a new listing matching their saved search criteria is available;</li>
        <li>use the mortgage calculator and other financial tools to help them determine what they can afford;</li>
        <li>learn more about a property’s neighbourhood with detailed demographic information for each listing.</li>
    </ul>
</p>

{% endblock %}