{% extends 'base.html' %}
{% load static i18n %}

{% block title %} {% translate 'Medical insurance' %} {% endblock %}

{% block head_of_content %}
<h1></h1>
{% endblock %}

{% block content %}

<h3>
    Healthcare in Turkey for Expats and Foreigners
</h3>
<p>
    Every year, thousands of patients from all over the world come to Turkey to get medical services. The success of
    the healthcare system has increased in recent years. It’s easy to find well-educated and English-speaking
    medical professionals in Turkey.
</p>
<p>
    A recent study published in The Lancet ranks Turkey’s healthcare system 60th among 195 countries in the world.
    The increasing number of medical schools and specialists in the country is a sign of this. If you’re planning
    to live in Turkey, it’s time that you become acquainted with the healthcare system in the country.
</p>


<h3>
    The Healthcare System In Turkey
</h3>
<p>
    Healthcare in Turkey consists of both public and private health services. The Ministry of Health (MOH),
    universities, and the private sector provide healthcare services. Foreigners and expats living in Turkey can apply
    for health benefits in two ways;  Universal Health Insurance and private health insurance. The European Health
    Insurance Card is not efficient in Turkey. Also, health insurance is compulsory in Turkey. Thus, you’ll need
    health insurance to get residency or work permits.
</p>


<h3>
    Universal Health Insurance in Turkey
</h3>
<p>
    Universal Health Insurance covers most health issues such as emergencies, pregnancy, and illnesses. Social
    Security Institution (SGK) administers general healthcare in Turkey.  To do so, you need to contact the nearest
    social security center. If you enroll in this scheme, you can also enjoy discounts in private hospitals.
    But, note that state hospitals are sometimes very crowded.
</p>
<p>
    <strong> How Can You Apply for Universal Health Insurance</strong>
</p>
<p>
    If you’ve lived in Turkey for one year, you’re eligible to apply. You can access all the medical care with a
    monthly fee. The monthly premium for 2021 is about ₺850, and it changes every year. You can get updated
    information from the application centers for healthcare in Turkey for foreigners. There are approximately 600
    social security centers in the country.  When you apply for SGK, your spouse and children under 18 can benefit
    from healthcare for foreigners.
</p>
<p>
    Treatment services covered by SGK:
</p>
<ul>
    <li>Inpatient and outpatient services</li>
    <li>Occupational accidents and diseases</li>
    <li>Pregnancy, birth, and related expenses</li>
    <li>Discounts in private hospitals and clinics, etc.</li>
    <li>Infectious diseases</li>
    <li>Preventive health services</li>
    <li>Treatment costs of foreigners and their dependents, except for chronic diseases</li>
</ul>


<h3>
    Private Health Insurance in Turkey</h3>
<p>
    You can get private health insurance in Turkey by paying a monthly fee to an insurance company. Private health
    insurance offers more benefits than SGK does. These are shorter waiting times, the highest quality of care, and
    fewer unexpected expenses. Also, it’s easy to find more English-speaking doctors in private hospitals. So, you may
    prefer a private healthcare option rather than SGK.
</p>
<p>
    Treatment services covered by private insurance:
</p>
<ul>
    <li>Medical examination costs</li>
    <li>Costs for diagnostic examinations</li>
    <li>Medication costs</li>
    <li>Hospital services (operation, anesthesia, medication, laboratory, radiology, etc.)</li>
    <li>Room, bed, meal, and accompanying expenses during hospitalization.</li>
    <li>Corneal, kidney, pancreas, liver, heart, lung transplantation.</li>
    <li>Chemotherapy, radiation therapy, dialysis</li>
    <li>Diagnostic biochemical, microbiological, pathological, radiological, and imaging tests during hospitalization.</li>
    <li>Costs of artificial limbs in case of loss of limbs due to an accident or illness</li>
    <li>Postoperative physical therapy</li>
    <li>Medical treatments for less than 24 hours (food poisoning, simple burn treatments)</li>
    <li>Treatments in intensive care</li>
    <li>Therapies related to teeth and nose caused by a traffic accident</li>
</ul>

{% endblock %}