{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block head_of_content %}
{% endblock %}

{% block content %}

<div id="homeHeaderCon" class="fullWidth"
     style="background-image: url('/media/images/background.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;">
    <div id="homeHeaderInnerCon">
        <div id="homeHeaderTitle" class="customHeaderImageText">Find homes and apartments from trusted SibirMAX</div>
    </div>
</div>
<div id="homeHeaderFooterCon" class="fullWidth">
    <div><strong>Need help finding a realtor?</strong></div>
    <a class="whiteRoundedBtn btn" href="{% url 'client_request' %}">Get Started</a>
</div>

<div class="fullWidth">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <h1 style="font-size:30px" class="NAC_WhyUseRealtorPageTitleH1">
            Why use SibirMAX Real Estate Studio?
        </h1>
        <div class="carousel-item active">
            <img src="/media/images/slide_photo_1.png" alt="First slide" class="d-block w-100" height="50%">
        </div>
        <div class="carousel-item">
            <img src="/media/images/slide_photo_2.png" alt="Second slide" class="d-block w-100" height="50%">
        </div>
        <div class="carousel-item">
            <img src="/media/images/slide_photo_3.png" alt="Third slide" class="d-block w-100" height="50%">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>


{% endblock %}
