{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block head_of_content %}
<h1>Privacy Policy</h1>
{% endblock %}

{% block content %}

<h3>Welcome!</h3>
<p>
    The SibirMax Real Estate Studio is committed to clearly explaining to you what it does with your personal
    information. On this webpage you’ll find information about the types of personal information we gather, how we
    use it, and whether we provide some of that information to anyone else.
</p>
<p>
    For starters, you’ll see that we refer to “privacy policy” and “privacy policies” throughout this webpage.
    Don’t get confused! The simplest way to wrap your head around this is to think of SibirMax’s “privacy policy” as
    the combined total of all of SibirMax’s “privacy policies”, which are specific portions of our overall policy.
</p>
<p>When we say “personal information” what we mean is any information about an identifiable individual not including:
    <ol>
        <li>
            The name, title, business email, business address or telephone number of an individual when collected,
            used and disclosed solely for the purpose of communicating or facilitating communication with the
            individual in relation to their employment, business or profession;
        </li>
        <li>
            Aggregated information that cannot be associated with a specific individual.
        </li>
    </ol>
</p>


{% endblock %}