{% extends 'base.html' %}

{% block title %}Rent{% endblock %}

{% block head_of_content %}
<h1>List of houses and flats for rent</h1>
{% endblock %}

{% block content %}

<p>
    {% for obj in rents %}
        {% if obj.type == "R" %}
            <a href="{% url 'detail_view' obj.id %}"> {{ obj.address }}</a><br>
                {% for image in obj.pictures.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %} <br>
        {% endif %}
    {% endfor %}
</p>

{% endblock %}