{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block head_of_content %}
<h1>Terms of Use</h1>
{% endblock %}

{% block content %}

<h3>Terms of Use Agreement</h3>
<p>
    By accessing any of the websites or mobile applications (collectively, hereinafter "website" or "websites")
    operated by The SibirMax Real Estate Studio, you, the user, agree to be bound by
    all of the terms for use and agree these terms constitute a binding contract between the user and SibirMax.
</p>

<h3>Copyright</h3>
<p>
    This website/database is a copyright-protected work which is owned by SibirMax. Part of the contents of this
    website/database, including all real estate listings and related information, images and photographs
    (collectively, "Listing Content"), are also protected by copyright, which is owned by the SibirMax members who
    supplied the content and/or by third parties, and is reproduced in this website/database under license.
    The contents of this website/database, including the Listing Content, are intended for the private, non-commercial
    use by individuals. Any commercial use of the website/database, including the Listing Content, in whole or in part,
    directly or indirectly, is specifically forbidden except with the prior written authority of the owner of the
    copyright.
</p>

<h3>Trademarks</h3>
<p>
    Not all real estate agents are SibirMax.
</p>
<p>
    This website/database is a copyright-protected work which is owned by SibirMax. Part of the contents of this
    website/database, including all real estate listings and related information, images and photographs
    (collectively, "Listing Content"), are also protected by copyright, which is owned by the SibirMax members who
    supplied the content and/or by third parties, and is reproduced in this website/database under license.
    The contents of this website/database, including the Listing Content, are intended for the private, non-commercial
    use by individuals. Any commercial use of the website/database, including the Listing Content, in whole or in part,
    directly or indirectly, is specifically forbidden except with the prior written authority of the owner of the
    copyright.
</p>

<h3>Links to Website</h3>
<p>
    Users may link to the website. However, SibirMax reserves the right to refuse a link at any time at SibirMax's sole
    discretion. The user agrees to remove any link to the website at SibirMax's request.
</p>

<h3>Links to Third Party Sites</h3>
<p>
    This website may contain hyperlinks to websites operated by parties other than SibirMax. Such hyperlinks are
    provided for the user's reference only. SibirMax does not control such websites and is not responsible for their
    contents or the privacy or other practices of such websites.
</p>

<h3>Privacy</h3>
<p>
    The user acknowledges that their personal information will be used by the website in accordance with the website 
    privacy policy located at <a href="{% url 'privacy_policy'%}" >here.</a>
</p>

<h3>Governing Law</h3>
<p>
    These Terms of Use shall be governed by the laws of Antalya, Turkey. The courts in Ankara, Antalya, will have
    exclusive jurisdiction to hear and decide any disputes relating to these Terms of Use.
</p>

{% endblock %}