{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_additional %} {% endblock %}
</head>
<body>
<form action="">
    <div id="topRedStrip"></div>
    <div id="loadingBar" class="loadingBar" style="display: none;"></div>
    <div id="mainCon">
        <span id="Header" class="ControlBaseWrapper " style="">
            <header id="header">
                <div id="headerLeft">
                    <a href="{% url 'all_objects' %}" style="height: 56px; width: 159px; vertical-align: middle; margin-left: 0px;">SIBIRMAX</a>
                    <div id="cmsPreviewCont" class="noPrint">
                        <div id="cmsPreviewInnerCont"></div>
                    </div>
                </div>
                <div id="headerRight" class="noPrint">
                    <div style="margin-left: 50px;">
                        <span id="langToggle" class="ControlBaseWrapper ">
                            <div id="toggleSwitchCon ">
                                <div class="toggleSwitchInnerCon">
                                    <a href="" class="toggleOption selected" data-value="1">ENG|</a>
                                    <a href="" class="toggleOption " data-value="2">TUR</a>
                                    <div class="toggleSelector" style="width: 50%; left: 50%;"></div>
                                </div>
                            </div>
                            <script>var toggle = new Controls.Desktop.Toggle(null, 'langToggle');</script>
                        </span>
                    </div>
                </div>
            </header>
            <script>var Header = new Controls.Desktop.Header(null, 'Header');</script>
        </span>




        <h2>
            {% include 'main_menu/navbar.html' %}
        </h2>

        {% block content %} {% endblock %}
        {% include 'main_menu/navbar.html' %}
    </div>
</form>
</body>
</html>